.card-container {
  list-style-type: none;
  margin: 0;
  padding: 0 103px 110px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  column-gap: 39px;
}

@media screen and (max-width: 960px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    gap: 90px 78px;
  }
}

@media screen and (max-width: 720px) {
  .card-container {
    grid-template-columns: auto;
    row-gap: 40px;
    align-items: center;
    justify-items: center;
    padding: 0 35px 80px;
  }
}
