.carousel__button {
  background: #000000;
  width: 99px;
  height: 26px;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
}
