.button__wrapper_right {
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 960px) {
  .button__wrapper_right {
    right: 60px;
  }
}

@media screen and (max-width: 720px) {
  .button__wrapper_right {
    top: 95%;
    right: 12px;
  }
}
