@import url("./__wrapper/button__wrapper.css");

.button {
  position: absolute;
  top: 40%;
  width: 52px;
  height: 52px;
  color: #000;
  border: 0;
  cursor: pointer;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: normal;
  transform: translateY(-50%);
}

@media screen and (max-width: 720px) {
  .button {
    width: 44px;
    height: 44px;
    top: 0;
    position: static;
    transform: none;
  }
}
