.navbar__side-link {
  text-decoration: none;
  margin: 0;
  margin-right: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #fff;
}
.navbar__side-link:hover {
  text-decoration: none;
  opacity: 70%;
}
.navbar__side-link:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.navbar__side-link:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.navbar__side-link:focus {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 720px) {
  .navbar__side-link {
    margin-left: 100px;
    margin-right: 22px;
  }
}
