@import url(./__title/contact-form__title.css);
@import url(./__open/contact-form__open.css);

.contact-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  border-radius: 14px;
  padding: 20px 100px;
  margin-top: 10px;
}

/* TABLET */
@media screen and (max-width: 958px) {
  .contact-form {
    padding: 20px 40px;
  }
}

/* PHONE*/
@media screen and (max-width: 414px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
