.carousel__button-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 43px;
  height: 13px;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0;
  background-color: transparent;
  z-index: 2;
}

@media screen and (max-width: 720px) {
  .carousel__button-nav {
    top: 104px;
  }
}
