@import url("./__title/gallery__title.css");
@import url("./__image/gallery__image.css");
@import url("./__caption/gallery__caption.css");
@import url("./__carousel/gallery__carousel.css");

.gallery {
  margin-top: 10px;
  font-family: "Inter", Arial, sans-serif;
  color: #000000;
  background: #f9f9f9;
  border-radius: 14px;
  padding: 110px 0;
}

@media screen and (max-width: 720px) {
  .gallery {
    padding: 50px 0 80px;
  }
}
