.gallery {
    margin-top: 10px;
    font-family: 'Inter', Arial, sans-serif;
    color: #000000;
    background: #F9F9F9;
    border-radius: 14px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.gallery__title {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
}

.gallery__image {
    width: 660px;
    height: 320px;
    border: none;
    margin: 0;
    padding: 0;

    
}

.carousel_type_gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 824px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
}

.carousel__button-left_size_l {
    
    width: 52px;
    height: 52px;
    background-size: 18px 12px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.carousel__button-right_size_l {
    width: 52px;
    height: 52px;
    background-size: 18px 12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}

.carousel__caption {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #525252;

}
