@media screen and (max-width: 720px) {
  .navbar__button_active {
    background: url("../../../../images/close-navlinks.svg");
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }
}
