@import url("./__title/robots__title.css");
@import url("./__subtitle/robots__subtitle.css");
@import url("./__list-icon/robots__list-icon.css");
@import url("./__list/robots__list.css");
@import url("./__list-item/robots__list-item.css");
@import url("./__carousel/robots__carousel.css");

.robots {
  margin-top: 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #000000;
  background: #f9f9f9;
  border-radius: 14px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 110px;
  padding-bottom: 110px;
  display: grid;
  grid-template-columns: 40% 60%;
  box-sizing: border-box;
  grid-column-gap: 65px;
  grid-template-areas: "title carousel" "subtitle carousel" "list carousel";
}

@media screen and (max-width: 960px) {
  .robots {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
  }
}

@media screen and (max-width: 720px) {
  .robots {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 80px;
  }
}
