.modal__close-button {
  background: none;
  border: none;
  padding: 0;
  width: 16px;
  height: 15.56px;
  margin-left: 347px;
  cursor: pointer;
  margin-top: 20px;
}
.modal__close-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 414px) {
  .modal__close-button {
    height: 15.56px;
    margin-left: 277px;
    margin-bottom: -5px;
    margin-top: 20px;
  }
}
