@import url(./__container/footer__container.css);
@import url(./__contacts/footer__contacts.css);
@import url(./__location/footer__location.css);
@import url(./__contacts-title/footer__contacts-title.css);
@import url(./__contacts-list/footer__contacts-list.css);
@import url(./__contacts-item/footer__contacts-item.css);
@import url(./__contacts-link/footer__contacts-link.css);
@import url(./__contacts-info/footer__contacts-info.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  font-family: "Inter", Arial, sans-serif;
  background: #f9f9f9;
  border-radius: 14px;
  margin: 10px 0;
  padding: 110px 100px;
}

/* TABLET */
@media screen and (max-width: 958px) {
  .footer {
    padding: 110px 40px 160px 40px;
  }
}
@media screen and (max-width: 414px) {
  .footer {
    padding: 50px 12px 88px 12px;
    margin-bottom: 0;
    border-radius: 0px;
  }
}
