.footer {
  background: #f9f9f9;
  border-radius: 14px;
  margin: 10px 0;
  padding: 110px 100px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__contacts {
  margin-right: 80px;
}
.footer__contacts-title {
  margin: 0 0 50px 0;
  padding: 0;
  font-family: Inter Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 43px;
  color: #000000;
}

.footer__contacts-list {
  list-style: none;
  padding: 0;
}
.footer__contacts-item {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;
  color: #000000;
  margin-bottom: 12px;
}
.footer__contacts-item:last-child {
  text-decoration-line: underline;
  margin-bottom: 206px;
}
.footer__contacts-info {
  font-style: normal;
  font-weight: 400;
}
.footer__map {
  width: 550px;
  height: 430px;
  border: 0.1px solid red;
}

.footer__copyright {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.04em;

  color: #525252;
}
