.section__title_team {
  font-weight: 700;
  font-size: 34px;
  line-height: 43px;
  text-align: center;
  margin: 0 auto;
  padding: 110px 0 50px;
}

@media screen and (max-width: 720px) {
  .section__title_team {
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 40px;
  }
}
