@import url("./__title/card__title.css");
@import url("./__text/card__text.css");
@import url("./__icon-container/card__icon-container.css");
@import url("./__image-text/card__image-text.css");
@import url("./__image/card__image.css");
@import url("./__image-container/card__image-container.css");
@import url("./__subtitle/card__subtitle.css");
@import url("./__avatar-container/card__avatar-container.css");

.card {
  max-width: 240px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 720px) {
  .card {
    max-width: 280px;
  }
}
