@import url("./__item/carousel__item.css");
@import url("./__image-container/carousel__image-container.css");
@import url("./__item-image/carousel__item-image.css");
@import url("./__button/carousel__button.css");
@import url("./__button-nav/carousel__button-nav.css");
@import url("./__item-title/carousel__item-title.css");
@import url("./__item-list/carousel__item-list.css");

.carousel {
  max-width: 575px;
  min-height: 324px;
  background: #ffffff;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  grid-area: carousel;
  overflow: hidden;
  position: relative;
}

.carousel_type_robots {
  margin: 0;
  padding: 0;
}

.carousel__item-list-span {
  font-weight: 500;
  color: #000000;
}
