.button_direction_right {
  right: -82px;
  background-image: url("../../../../images/right-arrow-active.svg");
}

@media screen and (max-width: 960px) {
  .button_direction_right {
    right: 52px;
  }
}
