.navbar_light {
  text-decoration: none;
  background: #efefef;
  color: #000000;
}
@media screen and (max-width: 720px) {
  .navbar_light .navbar__list {
    color: #000000;
    background: #efefef;
  }
}
