@import url("./__column-left-image/header__column-left-image.css");
@import url("./__column-right-image/header__column-right-image.css");
@import url("./__column-main/header__column-main.css");
@import url("./__logo-container/header__logo-container.css");
@import url("./__logo-icon/header__logo-icon.css");
@import url("./__logo-title/header__logo-title.css");
@import url("./__subtitle/header__subtitle.css");
@import url("./__button-1/header__button-1.css");
@import url("./__button-2/header__button-2.css");
@import url("./__buttons/header__buttons.css");

.header {
  min-height: 634px;
  background: #242424;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 960px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    min-height: 493px;
    padding-top: 65px;
  }
}
