@import url(./__heading/form__heading.css);
@import url(./__input-label/form__input-label.css);
@import url(./__message-label/form__message-label.css);
@import url(./__input/form__input.css);
@import url(./__message/form__message.css);
@import url(./__button/form__button.css);

.form {
  display: flex;
  flex-direction: column;
  width: 324px;
  border-radius: 6px;
  background: #ffffff;
  margin: auto;
}

/* PHONE*/
@media screen and (max-width: 414px) {
  .form {
    width: 280px;
  }
}
